<div class="indian-creek-clouds">
</div>
<div class="col-md-8 col-md-offset-2 large-top-padding xlarge-bottom-padding black-background xxxlarge-top-margin large-left-padding large-right-padding large-bottom-margin">
  <%= render @menu %>
</div>