<div class="row">
  <div class="col-md-2"> 
    <h4> <%= blog.created_at.strftime("%A %B %d, %Y") %> </h4>
  </div>
  <div class="col-md-10">
   <a href="#"> <h3> <%= blog.title %> </h3></a>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <p>
      <%=raw blog.content %> 
    </p>
  </div>
</div>