<div class="row">
  <div class="col-md-2"> 
    <h4> <%= blog.created_at.strftime("%A %B %d, %Y") %> </h4>
  </div>
  <div class="col-md-10">
    <h2>
     <%=link_to blog.title, blog_path(blog) %>
    </h2>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-2">
    <p>
      <%=raw blog.content %> 
    </p>
  </div>
</div>