<script>
  $(function() {
      jQuery(parent).trigger('initialize:frame');
  });
</script>

<div data-no-turbolink>
  <%= link_to "Save", "", id: "save-link", data: { save_url:  mercury_create_blogs_path }, class: "hidden" %></p>
  <%= render "wysiwyg" %>
   
</div>

