<div data-no-turbolink>

  <div class="col-md-10 col-md-offset-1">
    <h2> 
      <div id="blog_title" data-mercury="full">
        <%= raw @blog.title %>
      </div>
    </h2>
    <div id="blog_content" data-mercury="full">
      <%= raw @blog.content %>
    </div>
  </div>
</div>