 <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

<div class="black-background">
 <div class="col-md-8 col-md-offset-2 large-top-padding xlarge-bottom-padding large-left-padding large-right-padding">
    <%= render @blog %>
  </div>
</div>