<div class="medium-margin">
  <div class="row large-top-margin">
    <div class="col-md-10 col-md-offset-1">
      <div class="row">
        <h1 class="inline"> Van + Restaurant </h1>
        <a href="/" type="button" class="btn btn-default pull-right"> <h4> HOME  </h4> </a>
      </div>
      <h2> We're Cody and April. We climb and cook for our friends. </h2>
      <h3> We are based in Oakland, CA, but travel all over in our converted Sprinter van. </h3>

      <h3> Check out our <a class="light" href="#" > past menus</a> , <a href="#" class="light"> upcoming menu </a> , van building pictures and <a href="#" class="light"> info </a>, and other <a href="#" class="light"> projects</a>. </h3>
    </div>
  </div>
</div>