<div class="row medium-top-margin">

    <div class="col-xs-10 col-xs-offset-1">
      <div class="row large-top-margin">
        <h1 class="inline"> Van + Restaurant </h1>
      </div>
      <h2> We're Cody and April. We climb and cook for our friends. </h2>
      <h3> We are based in Oakland, CA, but travel all over in our converted Sprinter van. </h3>

      <h3> Check out our <a class="league" href="#" > past menus</a> , <a href="#" class="league"> upcoming menu </a> , van building pictures and <a href="#" class="league"> info </a>, and other <a href="#" class="league"> projects</a>. </h3>
    </div>

  <div class="col-xs-1 medium-top-margin" style="position: fixed; top: 0px; right: 8%;">
    <a href="/" class="btn btn-lg btn-primary pull-right"> HOME </a>
  </div>


</div>