<div class="row medium-top-margin">

    <div class="col-xs-10 col-xs-offset-1">
      <div class="row large-top-margin">
        <h1 class="inline"> Van + Restaurant </h1>
      </div>
      <h2> We're Cody and April. We climb and cook for our friends. </h2>
      <h3> We are based in Oakland, CA, but travel all over in our converted Sprinter van. 
      <a class="bright-green-font" href="mailto:aprileliza@gmail.com?Subject=Vanstaurant%20Love"> Send us an email and say hi. </a> </h3>

      <div class="large-top-margin blue-font">
        <h4>
          <%= fa_icon "flask" %>
          <div class="helvetica small-left-margin inline"> This site is a custom web app designed and built by April. 
          </div>
        </h4>
      </div>
    </div>

</div>