<div class="admin">

<div class="row">
  <h2>
    <div class="col-md-4 col-md-offset-1 vlarge-top-margin">
      <ul class="xlight">
        <li> <%= link_to "Create a new menu", new_menu_path, class: "xlight" %> </li>
        <li> <%= link_to "Write a new blog post", "/editor" + new_blog_path, class: "xlight" %> </li>
        <li> <%= link_to "Edit previous menus", menus_path, class: "xlight"   %> </li>
        <li> <%= link_to "Edit previous blog posts", blogs_path, class: "xlight"  %> </li>
      </ul>
    </div>
  </h2>
</div>

</div>