<div class="indian-sunset-background">

  <div class="col-md-6 col-md-offset-3 text-center xlarge-top-margin ">

  <div class="large-top-margin large-top-padding xlarge-bottom-padding black-background medium-font">
      <ul class="xlight">
        <li> <%= link_to "Create a new menu", new_menu_path, class: "xlight" %> </li>
        <li> <%= link_to "Write a new blog post", "/editor" + new_blog_path, id: "new_blog_link", class: "xlight" %> </li>
        <li> <%= link_to "Edit previous menus", menus_path, class: "xlight"   %> </li>
        <li> <%= link_to "Edit previous blog posts", admin_overview_blogs_path, class: "xlight"  %> </li>
      </ul>
    </div>
  </div>

</div>