<div class="admin">

<div class="row">
  <h2>
    <div class="col-md-4 col-md-offset-1 vlarge-top-margin">
      <ul class="xlight">
        <li> <%= link_to "Create a new menu", new_menu_path, class: "xlight league" %> </li>
        <li> <%= link_to "Write a new blog post", "/editor" + new_blog_path, id: "new_blog_link", class: "xlight league" %> </li>
        <li> <%= link_to "Edit previous menus", menus_path, class: "xlight league"   %> </li>
        <li> <%= link_to "Edit previous blog posts", blogs_path, class: "xlight league"  %> </li>
      </ul>
    </div>
  </h2>
</div>

</div>