<main>
  <div id="skrollr-body">
    <section id="slide-1" class="homeSlide">
      <div class="row text-center" style="height:450px;">
        <img src="assets/van-large.jpg" style="position: fixed; top: -300px; height:1000px; width:100%; left: 0; z-index: -2;">
        <div style="position: fixed; top: 0px; left: 100px;">
          <% if @menu %>
          <a class="btn btn-xlg bright-green-btn medium-top-margin"> Menu - <%= @menu.location + " " + @menu.day.strftime("%A %b %d") %> </a> 
          <% end %>
        </div>

        
        <div class="row" style="position: fixed; top: 0px; width: 100%; left: 0;">
          <h1 class="xxxxlarge-top-margin yellow-font title-size"> VANSTAURANT </h1>
        </div>
        <div class="row" text-center style="position: fixed; top: 340px; width: 100%; left: 0; z-">
            <div class="col-xs-1 col-xs-offset-4 text-center "> 
              <a class="yellow" href="#"> <h3 class="small-neg-top-margin no-right-margin"> FOOD </h3> </a>
            </div>
            <div class="col-xs-1 medium-left-margin text-center"> 
              <a class="yellow" href="#"> <h3 class="small-neg-top-margin no-right-margin"> SPRAY </h3> </a>
            </div>
            <div class="col-xs-1 medium-left-margin text-center"> 
              <a class="yellow"  href="#"> <h3 class="small-neg-top-margin no-right-margin "> BUILDING </h3> </a>
            </div>
        </div>
        
        <div style="position: fixed; top: 0px; right: 100px;">
          <a class="btn btn-lg medium-top-margin btn-primary" href="/about"> About Us </a>
        </div>
      </div>
    </section>
    <section id="slide-2" class="homeSlide" style="position:relative; z-index:2;">
      <div class="row blog large-top-margin white-background">
        <div class="col-xs-10 col-xs-offset-1">
          <%= render @blogs %>
        </div>
      </div>
    </section>
  </div>
</main>
