<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

 <div class="row mobile-van-background">
    <div class="text-center" style="margin-top:35%;">
        
      <div class="row">
        <h1 class="yellow-font title-size"> VANSTAURANT </h1>
      </div>

      <div class="row green-font helvetica small-neg-top-margin large-font">
         cooking + climbing + building
      </div>
    </div>
  </div>

  <div class="row text-center btn-mobile"> 
    <div class="large-top-margin"> Latest Blog
    </div>
  </div>
  <div class="row text-center btn-mobile-bright"> 
    <div class="large-top-margin"> Next Menu
    </div>
  </div>