<div class="medium-margin">
  <div class="row">
    <div class="col-md-6 col-md-offset-1">
      <%=image_tag("vanstaurant.jpg", class: "img-responsive center-block") %>
    </div>
    <div class="col-md-4 blue-font">
      <div class="row text-center huge-top-margin">
        <h1> VANSTRAUNT </h1>
      </div>
      <div class="row-bar text-center">
          <div class="col-md-4"> 
            <h2 class="small-neg-top-margin"> FOOD </h2>
          </div>
          <div class="col-md-4"> 
            <h2 class="small-neg-top-margin"> SPRAY </h2>
          </div>
          <div class="col-md-4"> 
            <h2 class="small-neg-top-margin"> BUILDING </h2>
          </div>
        </h2>
      </div>

    </div>
  </div>
</div>