<%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %>

<div class="black-background">

 <div class="container-fluid">
  <div class="row mobile-van-background">
    <div class="col-xs-12">
      <div class="text-center" style="margin-top:43%;">
          
        <div class="row">
          <h1 class="yellow-font title-size"> VANSTAURANT </h1>
        </div>

        <div class="row green-font helvetica small-neg-top-margin large-font">
           cooking + climbing + building
        </div>
      </div>
    </div>
  </div>

  <div class="row text-center btn-mobile"> 
    <div class="vertical-text"> 
      <%= link_to "Latest Blog", blog_path(@blogs.first), class: "blue-font"%>
    </div>
  </div>

  <div class="row text-center btn-mobile-bright"> 
    <div class="vertical-text"> Next Menu
    </div>
  </div>
</div>
</div>