<script>
  $(function() {
    var s = skrollr.init();
  });
</script>

<!-- <div class="row text-center" style="height:500px;">
  <img src="assets/van-large.jpg" style="position: fixed; top: -280px; width:100%; left: 0; z-index: -2;">
  <div class="medium-top-margin" style="position: fixed; top: 0px; z-index: 3;">
    <div class="green-font helvetica" style="position: fixed; right: 18%;">
          <% if @menu %>
            <a class="btn btn-lg bright-green-btn inline"> Menu: <%= @menu.location + " - " + @menu.day.strftime("%b %e") %></a> 
          <% end %>
    </div>

    <div style="position: fixed; right: 8%;">
      <a class="btn btn-lg btn-primary inline" href="/about"> About Us </a>
    </div>
  </div>


  
    <div class="text-center" style="position: fixed; top: 0px; width: 100%; left: 0; margin-top:17%; z-index:-1;">
      
      <div class="row"
        data-center="opacity: 1.5"
        data-80-top="opacity: 0">
        <h1 class="yellow-font title-size"> VANSTAURANT </h1>
      </div>

      <div class="row green-font helvetica small-neg-top-margin medium-font"
        data-center="opacity: 1.5"
        data-230-top="opacity: 0">
         A place to spray on cooking, climbing, building, and all things van life.
      </div>
    </div>

</div>


<div class="row blog large-top-margin xlarge-bottom-padding" style="z-index:2; background-color:rgba(0, 0, 0, 0.5);">
  <div class="col-xs-10 col-xs-offset-1">
    <%= render @blogs %>
  </div>
</div> -->


 <div class="row mobile-van-background">
    <div class="text-center" style="margin-top:35%;">
        
      <div class="row">
        <h1 class="yellow-font title-size"> VANSTAURANT </h1>
      </div>

      <div class="row green-font helvetica small-neg-top-margin large-font">
         cooking + climbing + building
      </div>
    </div>
  </div>

  <div class="row text-center btn-mobile"> 
    <div class="large-top-margin"> Latest Blog
    </div>
  </div>
  <div class="row text-center btn-mobile-bright"> 
    <div class="large-top-margin"> Next Menu
    </div>
  </div>




